/* display: flex/grid
if grid, grid-template-columns: 1fr 1fr
if flex, flex-wrap: wrap
if float, float: left
if each side has its own flex, wrap it
if flex in one container (width: 50%)
input selection changes text box to blue 
display.style.color='red' */


.mainWebsite {
  display: flex;
  background-color: black;
}

.invitation {
  background-color: lightblue;
  text-align: center;
  background-image: url("https://images.all-free-download.com/images/graphiclarge/aqua_gradient_background_6816244.jpg");
  float: right;
  width: 30%;
  margin: 10px;
  color: black;
}

.inputs {
  text-align: center;
  float: left;
  width: 45%;
  margin: 10px;
}

.title {
  text-align: center;
}

.column {
  flex: 1;
}

body {
  background-color: black;
  color: white;
}