/* display: flex/grid
if grid, grid-template-columns: 1fr 1fr
if flex, flex-wrap: wrap
if float, float: left
if each side has its own flex, wrap it
if flex in one container (width: 50%)
input selection changes text box to blue 
display.style.color='red' */


.mainWebsite {
  display: inline;
  background-color: black;
}

.invitation {
  background-color: lightblue;
  text-align: center;
  background-image: url("https://webgradients.com/public/webgradients_png/019%20Malibu%20Beach.png");
  float: right;
}

.inputs {
  text-align: center;
  float: left;
  background-color: black;
  color: white;
}

.title {
  text-align: center;
  color: white;
  background-color: black;
}

body {
  background-color: black;
}